<h1><%=@recommend.name %>にでも行きますか</h1>
<table border="1">
  <tr>
    <th>住所</th>
    <th><%=@recommend.adress %></th>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%=@recommend.tel %></td>
  </tr>
</table>
